{{#let (t (concat @id ".title")) as |sectionTitle|}}
  <section
    class='guide-section'
    aria-labelledby={{@id}}
    data-test-section={{sectionTitle}}
  >
    <div class="title-container">
      <h2
        data-test-field="Section Title"
        id={{@id}}
        class="title"
      >
        {{sectionTitle}}
      </h2>

      <a
        href="#{{@id}}"
        class="permalink"
        title={{sectionTitle}}
      >
        {{t "component.guide-section.section"}}
      </a>
    </div>

    {{yield (component 'subsection' sectionId=@id)}}
  </section>
{{/let}}